---
layout: default
---

<style type="text/css">

.gallery {
  display: flex;
  flex-direction: column;
  float:right;width: 30vw; max-width: 200px
}

.gallery img {
  border-radius:5px;max-width: 600px;width: 97.5%;margin: 1.25%;
  margin: 10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  position:relative;
  border-radius:10px;
  -webkit-transform:translateY(0);
  transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.costs
{
  font-size: 12px;
  width: 60%;
  max-width: 500px;
}
.costs  th, .costs  td {
  padding: 5px;
}
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js" type="text/javascript"></script>



  <h1 class="page-heading">{{ page.title }}</h1>


  <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">

    {% for file in page.gallery %}
    {% assign path = page.id | prepend: 'assets' | append: '/' | append: file | relative_url %}

    <figure style=" -webkit-flex: 0;
  flex-shrink: 0;" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ page.id | prepend: 'assets' | append: '/' | append: file | relative_url }}" itemprop="contentUrl" data-size="1000x1000"><!--{x% imagesize path:size %}-->
          <img src="{{ page.id | prepend: 'assets' | append: '/' | append: file | relative_url }}" itemprop="thumbnail" alt="{{file}}" />
      </a>

    </figure>

    {% endfor %}
  </div>


  <ul>
    <li>3 Gehminuten bzw. 300 m bis zum Strand</li>
    <li>kostenloser Parkplatz</li>
  {%- for p in page.properties -%}
    <li>{{p}}</li>
  {%- endfor -%}
  </ul>

  {{ content }}

<h2>Preise</h2>






    <table class="costs">
<thead>
<tr>
  <th>Saison</th>
  <th>Tagespreis</th>
  <th>Wochenpreis</th>
  <th>Reinigung</th>
</tr>
</thead>
<tbody>
<tr>
  <td><strong>Zwischensaison</strong><br>03.05. - 20.06.20</td>
  <td>60,00 €</td>
  <td>390,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Hauptsaison</strong><br>20.06. - 05.09.20</td>
  <td>85,00 €</td>
  <td>590,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Zwischensaison</strong><br>05.09. - 10.10.20</td>
  <td>60,00 €</td>
  <td>390,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Nebensaison</strong><br>11.10. - 26.12.20</td>
  <td>25,00 €</td>
  <td>150,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Sylvester</strong><br>27.12. - 03.01.21</td>
  <td>-</td>
  <td>550,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Nebensaison</strong><br>02.01. - 13.03.21</td>
  <td>25,00 €</td>
  <td>150,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Vorsaison</strong><br>13.03. - 01.05.21</td>
  <td>45,00 €</td>
  <td>290,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Zwischensaison</strong><br>01.05. - 19.06.21</td>
  <td>65,00 €</td>
  <td>440,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Hauptsaison</strong><br>19.06. - 11.09.21</td>
  <td>85,00 €</td>
  <td>590,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Zwischensaison</strong><br>11.09. - 16.10.21</td>
  <td>65,00 €</td>
  <td>440,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Nebensaison</strong><br>16.10. - 25.12.21</td>
  <td>25,00 €</td>
  <td>150,00 €</td>
  <td>45,00 €</td>
</tr>
<tr>
  <td><strong>Sylvester</strong><br>25.12. - 01.01.22</td>
  <td>-</td>
  <td>550,00 €</td>
  <td>45,00 €</td>
</tr>
</tbody>
</table>

<p>Wir obliegen den Rechten und Pflichten des deutschen Hotel- und Gaststättenverbandes und empfehlen den Abschluss einer <a href="https://www.reiseversicherung.de">Reiserücktrittsversicherung</a>. Im Falle einer Stornierung oder vorzeitiger Abreise wird die Ausfallzeit des Reisepreises berechnet.</p>

<h2>Sonstige Kosten und Informationen</h2>

<p>100,00 € Kaution, Verbrauchskosten für Heizung / Strom zu je 0,45 € / kWh = ca. 20,00 € - 60,00 € pro Woche.</p>

<ul>
<li>Bettwäschegarnituren, Hand- und Geschirrtücher müssen von meinen Gästen grundsätzlich mitgebracht werden. Gegen eine Gebühr von 15,00 € / Person kann ich Ihnen jedoch die Wäsche auch zur Verfügung stellen lassen.</li>
<li>Die von Ihnen abzuführende Kurtaxe ist im Preis nicht enthalten.</li>
</ul>

<p>Die Buchung / Reservierung erfolgt über einen Mietvertrag und ist mit einer Anzahlung von 50 % zu bestätigen. Der Restbetrag ist spätestens 4 Wochen vor der Anreise zu entrichten.</p>



<h2>Belegungskalender</h2>

<div id="calendar">Buchungskalender wird geladen&hellip;</div>
    <style>
    #calendar {

    }

    #calendar table tr td.other-month {
        visibility: hidden;
    }

    #calendar table tr td.booked-start:not(.booked) {
        background: linear-gradient(to right bottom, #6a9915 0%, #6a9915 52%, #CA3830 58%, #CA3830 100%);
    }

    #calendar table tr td.booked-end:not(.booked) {
        background: linear-gradient(to right bottom, #CA3830 0%, #CA3830 42%, #6a9915 48%, #6a9915 100%);
    }


    #calendar table tr td.booked-start.booked-end {
        background: linear-gradient(to right bottom, #CA3830 0%, #CA3830 42%, #6a9915 48%, #6a9915 52%, #CA3830 58%, #CA3830 100%);
    }

    #calendar table tr td.booked {
        background-color: #CA3830;
    }

    #calendar table {
        display: inline;
        padding: 0;
        margin: 0.2em;
        width: 50px;
        border-spacing: 1px;
        border-collapse: separate;
        background-color: #f5f9ef
    }

    #calendar * {
        font-size: x-small;
    }

    #calendar table tr th,
    #calendar table tr td {
        padding: 0 0.1em;
        border-width: 0px;
    }

    #calendar table tr td {
        text-align: right;
        background-color: #6a9915;
        color: #EEE;
        text-align: center
    }
    </style>
    <script type="text/javascript">
    var apiKey = 'AIzaSyCwxULcNfBtNB7KnghFgR14D-7k-Sn5OHM';
    var calendarId = '{{ page.calendar }}';
    var monthCount = 18;
    var calendarElementId = 'calendar';

    (function() {
        var monthNames = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
            'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'
        ];

        function normalizeWeekDay(day) {
            return day === 0 ? 6 : day - 1;
        }

        function toDateName(date) {
            return +date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
        }

        function addCalendar(element, year, month) {
            var calendar = document.createElement('table');
            calendar.innerHTML = '<tr><th colspan="7">' + monthNames[month] + ' ' + year + '</th></tr><tr><th>Mo</th><th>Di</th><th>Mi</th><th>Do</th><th>Fr</th><th>Sa</th><th>So</th></tr>';
            element.appendChild(calendar);

            var currentDate = new Date(year, month, 1);
            currentDate.setDate(currentDate.getDate() - normalizeWeekDay(currentDate.getDay()));
            for (var row = 0; row < 6; row++) {
                var days = document.createElement('tr');
                for (var column = 0; column < 7; column++) {
                    var day = document.createElement('td');
                    day.innerHTML = currentDate.getDate();
                    if (currentDate.getMonth() != month) {
                        day.className += ' other-month';
                    }
                    day.setAttribute('name', toDateName(currentDate));

                    days.appendChild(day);
                    currentDate.setDate(currentDate.getDate() + 1);
                }
                calendar.appendChild(days);
            }
        }

        function addClassToElements(elements, className) {
            for (var i = 0; i < elements.length; i++) {
                elements[i].className += ' ' + className;
            }
        }

        function fillCalendar(data) {
            var index;
            for (index = 0; index < data.items.length; ++index) {
                var item = data.items[index]
                var startTime = new Date((item.start.dateTime || item.start.date));
                var endTime;
                if (item.end.dateTime) {
                    endTime = new Date(item.end.dateTime);
                } else {
                    endTime = new Date(item.end.date);
                    /* The day of 'All day'-entries is off by one day. */
                    endTime.setDate(endTime.getDate() - 1);
                }
                var currentDate = new Date(startTime.getFullYear(), startTime.getMonth(), startTime.getDate() + 1);
                var endDate = new Date(endTime.getFullYear(), endTime.getMonth(), endTime.getDate());
                while (currentDate < endDate) {
                    addClassToElements(document.getElementsByName(toDateName(currentDate)), 'booked');
                    currentDate.setDate(currentDate.getDate() + 1);
                }
                addClassToElements(document.getElementsByName(toDateName(startTime)), 'booked-start');
                addClassToElements(document.getElementsByName(toDateName(endTime)), 'booked-end');

            }
        }

        var now = new Date();
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'https://www.googleapis.com/calendar/v3/calendars/' + calendarId + '/events?key=' + apiKey + '&maxResults=2500&orderBy=updated&timeMin=' + now.getFullYear() + '-' + (now.getMonth() + 1) + '-1T00%3A00%3A00%2B00%3A00&singleEvents=TRUE');
        xhr.onload = function() {
            var calendar = document.getElementById(calendarElementId);
            if (xhr.status === 200) {
                var currentDate = new Date(now.getFullYear(), now.getMonth(), 1);
                calendar.innerHTML = '';
                for (var month = 0; month < monthCount; month++) {
                    addCalendar(calendar, currentDate.getFullYear(), currentDate.getMonth());
                    currentDate.setMonth(currentDate.getMonth() + 1);
                }
                fillCalendar(JSON.parse(xhr.responseText));
            } else {
                calendar.innerHTML = 'Unser Buchungskalender steht momentan leider nicht zur verfügung.';
            }
        };
        xhr.send();
    })();
    </script>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>

<script type="text/javascript">
var initPhotoSwipeFromDOM = function(gallerySelector) {

    // parse slide data (url, title, size ...) from DOM elements
    // (children of gallerySelector)
    var parseThumbnailElements = function(el) {
        var thumbElements = el.childNodes,
            numNodes = thumbElements.length,
            items = [],
            figureEl,
            linkEl,
            size,
            item;

        for(var i = 0; i < numNodes; i++) {

            figureEl = thumbElements[i]; // <figure> element

            // include only element nodes
            if(figureEl.nodeType !== 1) {
                continue;
            }

            linkEl = figureEl.children[0]; // <a> element

            size = linkEl.getAttribute('data-size').split('x');

            // create slide object
            item = {
                src: linkEl.getAttribute('href'),
                w: parseInt(size[0], 10),
                h: parseInt(size[1], 10)
            };



            if(figureEl.children.length > 1) {
                // <figcaption> content
                item.title = figureEl.children[1].innerHTML;
            }

            if(linkEl.children.length > 0) {
                // <img> thumbnail element, retrieving thumbnail url
                item.msrc = linkEl.children[0].getAttribute('src');
            }

            item.el = figureEl; // save link to element for getThumbBoundsFn
            items.push(item);
        }

        return items;
    };

    // find nearest parent element
    var closest = function closest(el, fn) {
        return el && ( fn(el) ? el : closest(el.parentNode, fn) );
    };

    // triggers when user clicks on thumbnail
    var onThumbnailsClick = function(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function(el) {
            return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
        });

        if(!clickedListItem) {
            return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode,
            childNodes = clickedListItem.parentNode.childNodes,
            numChildNodes = childNodes.length,
            nodeIndex = 0,
            index;

        for (var i = 0; i < numChildNodes; i++) {
            if(childNodes[i].nodeType !== 1) {
                continue;
            }

            if(childNodes[i] === clickedListItem) {
                index = nodeIndex;
                break;
            }
            nodeIndex++;
        }



        if(index >= 0) {
            // open PhotoSwipe if valid index found
            openPhotoSwipe( index, clickedGallery );
        }
        return false;
    };

    // parse picture index and gallery index from URL (#&pid=1&gid=2)
    var photoswipeParseHash = function() {
        var hash = window.location.hash.substring(1),
        params = {};

        if(hash.length < 5) {
            return params;
        }

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
            if(!vars[i]) {
                continue;
            }
            var pair = vars[i].split('=');
            if(pair.length < 2) {
                continue;
            }
            params[pair[0]] = pair[1];
        }

        if(params.gid) {
            params.gid = parseInt(params.gid, 10);
        }

        return params;
    };

    var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
            gallery,
            options,
            items;

        items = parseThumbnailElements(galleryElement);

        // define options (if needed)
        options = {

            // define gallery index (for URL)
            galleryUID: galleryElement.getAttribute('data-pswp-uid'),

            getThumbBoundsFn: function(index) {
                // See Options -> getThumbBoundsFn section of documentation for more info
                var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                    pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                    rect = thumbnail.getBoundingClientRect();

                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
            }

        };

        // PhotoSwipe opened from URL
        if(fromURL) {
            if(options.galleryPIDs) {
                // parse real index when custom PIDs are used
                // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                for(var j = 0; j < items.length; j++) {
                    if(items[j].pid == index) {
                        options.index = j;
                        break;
                    }
                }
            } else {
                // in URL indexes start from 1
                options.index = parseInt(index, 10) - 1;
            }
        } else {
            options.index = parseInt(index, 10);
        }

        // exit if index not found
        if( isNaN(options.index) ) {
            return;
        }

        if(disableAnimation) {
            options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    // loop through all gallery elements and bind events
    var galleryElements = document.querySelectorAll( gallerySelector );

    for(var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i+1);
        galleryElements[i].onclick = onThumbnailsClick;
    }

    // Parse URL and open gallery if it contains #&pid=3&gid=1
    var hashData = photoswipeParseHash();
    if(hashData.pid && hashData.gid) {
        openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
    }
};

// execute above function
initPhotoSwipeFromDOM('.gallery');
</script>

<h2>Anfrage</h2>

<p>Interessiert? Senden Sie uns jetzt Ihre Anfrage.</p>
