---
layout: default
---

<style type="text/css">

.item {
  border-radius:5px;max-width: 600px;width: 97.5%;margin: 1.25%;
}

.container {

  margin: 60px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  position:relative;
  border-radius:10px;
  -webkit-transform:translateY(0);
  transition:all .6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.container:hover {
  transform:scale(1.05, 1.05);
}

.container a:first-child {

}
.container a:first-child:hover {

}

.container p {
  text-align: right;
  margin-right: 10px;
}

.container h3 {
  margin: 10px;
  font-size: 24px;
}

.container img {
  width:100%;
}

.container ul {
  margin: 15px 0px 0px 30px;
}




</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
    <ul class="post-list">
      {%- for bungalow in site.bungalows -%}
      <li class="item">
          <div class="container">
            <a style="" href="{{ bungalow.url | relative_url }}">
              <h3>{{ bungalow.title | escape }}</h3>
              <img alt="{ bungalow.title | escape }}" src="{{ bungalow.id | prepend: 'assets' | append: '/aussen.jpg' | relative_url }}" />
            </a>
            <ul>
            {%- for p in bungalow.properties -%}
              <li>{{p}}</li>
            {%- endfor -%}
            </ul>
            <p>
              <a href="{{ bungalow.url | relative_url }}">mehr Details</a>
            </p>
          </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>


</div>
